<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Open Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="!gameStarted">
    <form #triviaForm="ngForm" class="form-container">
      <div class="form-item">
        <ion-label for="pseudo">Votre Pseudo :</ion-label>
        <ion-input type="text" [(ngModel)]="pseudo" name="pseudo" required />

        <ion-toast [isOpen]="isToast" message="Le pseudo doit faire au moins 3 caractères."
          [duration]="5000"></ion-toast>

      </div>
      <div class="form-item">
        <ion-label for="">Difficulté :</ion-label>
        <ion-select [(ngModel)]="selectedDifficulty" name="difficulty">
          <ion-select-option *ngFor="let difficulty of difficulties" [value]="difficulty"> {{ difficulty
            }}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-checkbox [(ngModel)]="saveInfo" name="saveInfo">Sauvergarder mes informations</ion-checkbox>
      </div>
      <div class="form-item">
        <ion-button (click)="startGame()" [disabled]="triviaForm.invalid" id="startButton">Commencer</ion-button>
      </div>
    </form>
  </div>

  <div *ngIf="gameStarted">
    <p>Jeu démarré avec le pseudonyme: {{ pseudo }} et le niveau de difficulté: {{ selectedDifficulty }}</p>
  </div>

  <div *ngIf="listQuestions && listQuestions.length > 0">
    <h2 [innerHTML]="currentQuestion?.question"></h2>
    <div class="button-container">
      <ion-button class="unknown" [ngClass]="{'false': isAnswer && !answer.isCorrect, 'true': isAnswer && answer.isCorrect }"
        *ngFor="let answer of currentQuestion?.answers" (click)="answerIt(answer.isCorrect)" [innerHTML]="answer.label"></ion-button>

    </div>
  </div>
  <div *ngIf="isNextQuestion" class="form-item">
    <ion-button (click)="nextQuestion()">Question suivante</ion-button>
  </div>
  <div *ngIf="rejouer" class="form-item">
    <ion-button (click)="restartGame()" id="startButton">Rejouer</ion-button>
  </div>

</ion-content>